<div id="pos">
  <h1 class="body">
    <input type="text" name="email" />
    <img src="../assets/timg2.jpeg" alt="timg2" class="img2">
  </h1>
  <button (click)="show()" type="submit" class="button">全吧搜索</button>
</div>

<div class="person1">
  <img src="../assets/img/touxiang.jpeg" height="200" width="200"/>
</div>
<div class="person7">
  <button>编辑资料</button>
</div>
<div class="person2">
  用户名:<label>Sara</label>
  <div>
    吧龄:<label>1.2</label>
  </div>
  <div>
    发帖:<label>1420</label>
  </div>
</div>

<div class="person8">
  <img src="../assets/img/tieba2.jpg" height="111" width="933"/>
</div>

<div class="person6">
  <img src="../assets/img/tieba3.jpg" height="42" width="125"/>
</div>

<div class="person5">
  <div class="person4">
    <label> 体育吧</label>
  </div>
  <nav>
    <a style=" font-size: 20px;" >
      埃里克-戈登谈第四节爆发砍17分：我手感火热
    </a>
    <button class="button2">删除</button>
    <!--<router-outlet></router-outlet>-->
  </nav>

  <div >
    12月19日讯 火箭今日以120-99战胜了爵士，拿到了14连胜，赛后火箭的埃里克-戈登接受了媒体的采访。
  </div>

  <label class="person3">——发帖人：侯佳旺  今天16:30</label><button (click)="go()">{{title}}</button>
</div>

