button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 16px/100% 'Microsoft yahei',Arial, Helvetica, sans-serif;
  padding: .3em 0.7em .3em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  vertical-align: bottom;
  font-weight: 500;
  color: darkslategrey;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  left: 6em;
  position: relative;
}
button:hover {
  text-decoration: none;
  background-color: darkgrey;
  color: white;
}
button:active {
  position: relative;
  top: 1px;
}
h2 {
  font-style: italic;
  color: royalblue;
  position: relative;
  left: 3em;
}
label {
  display: inline-block;
  width: 4em;
  text-align: right;
  margin: .5em 0;
  color: royalblue;
  font-weight: bold;
}
input {
  border-color: transparent transparent darkslateblue transparent;
}
.ti {
  right: 3em;
  color: darkgrey;
  position: inherit;
}
.pos {
  margin-left:30%;
  margin-top: 10%;
}
.h33 {
  position: relative;
  left:10%;
}
