<style type="text/css">
  body,td,th {
    font-family: "宋体";
    font-size: 18px;
    color: #000;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }


</style>



<body style="text-align: center; font-family: '宋体'; font-size: 18px;">
<p><img src="../assets/img/study.jpg" width="1026" height="308" align="middle" border="0" /></p>
<div *ngIf="flag">
  <hr width="1000" />
  <table width="1000" height="59" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr (click)="goDetail()" id="point">
      <th width="250" scope="col">2分钟前</th>
      <th width="450" scope="col"><a>PS到底该怎么学呢？</a></th>
      <th width="300" scope="col"><img src="../assets/img/touxiang.png" width="23" height="23" /> <a>小鱼</a></th>

    </tr>
  </table>
  <hr width="1000" />


  <table width="1000" height="64" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <th width="250" scope="col">3分钟前</th>
      <th width="450" scope="col"><a href="nextpage.html" target="_blank">注会、中级、英语资料</a></th>
      <th width="300" scope="col"><img src="../assets/img/touxiang.png" alt="" width="23" height="23" /> <a href="user.html" target="_blank">天天</a></th>
    </tr>
  </table>
  <hr width="1000" />
  <table width="1000" height="64" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <th width="250" scope="col">4分钟前</th>
      <th width="450" scope="col"><a href="nextpage.html" target="_blank">初学UI设计需要了解的事儿</a></th>
      <th width="300" scope="col"><img src="../assets/img/touxiang.png" alt="" width="23" height="23" /> <a href="user.html" target="_blank">QAQ</a></th>
    </tr>
  </table>
  <hr width="1000" />
  <table width="1000" height="64" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <th width="250" scope="col">10分钟前</th>
      <th width="450" scope="col"><a href="nextpage.html" target="_blank">明天要考研了</a></th>
      <th width="300" scope="col">   <img src="../assets/img/touxiang.png" alt="" width="23" height="23" /> <a href="user.html" target="_blank">学霸</a></th>
    </tr>
  </table>
  <hr width="1000" />
  <table width="1000" height="64" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <th width="250" scope="col">15分钟前</th>
      <th width="450" scope="col"><a href="nextpage.html" target="_blank">你不笨，就是懒</a></th>
      <th width="300" scope="col"><img src="../assets/img/touxiang.png" alt="" width="23" height="23" /> <a href="user.html" target="_blank">杯子</a></th>
    </tr>
  </table>

  <hr width="1000" />
  <p><a href="study_page.html" target="_blank">1</a> <a href="study_page1.html">2</a> <a href="nextpage.html">3</a></p>

  <button (click)="onSelect()" class="button">发帖</button>

</div>

<div *ngIf="!flag" class="study4">

  <img src="../assets/img/fatie2.jpg" height="63" width="934"/>
  <div class="study2">
    <input placeholder="请填写标题" class="study-input"/>
    <input [(ngModel)]="tieName" placeholder="标题"><label>{{ tieName}}</label>
    <input [(ngModel)]="tieThing"><label>{{ re }}</label>
  </div>

  <img src="../assets/img/fatie.jpg" height="59" width="898"/>
  <textarea class="study1"></textarea>

  <div>
    <button class="study3" (click)="onSelect()">发表</button> <button class="study5" (click)="addTie()">返回</button>
  </div>
</div>

</body>
